table {
    table-layout: fixed;
}

#th-problem {
    width: 30%;
}

#th-note {
    width: 45%;
}

#th-date {
    width: 15%;
}

#th-delete {
    width: 10%;
}

td {
    height: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}