table {
    table-layout: fixed;
}

#th-problem {
    width: 30%;
}

#th-note {
    width: 45%;
}

#th-date {
    width: 15%;
}

#th-delete {
    width: 10%;
}

.ellipsis {
    height: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.color-ok {
    color: rgb(0, 128, 0);
}

.color-not-ok {
    color: rgb(160, 160, 160);
}